/* font-family: 'Great Vibes', cursive;
font-family: 'Open Sans', sans-serif; */

h1{
  text-align: center;
  margin-top: 16%;
  font-family: 'Open Sans', sans-serif;
}
.Wonderful{
  font-family: 'Great Vibes', cursive;
  color: #0000FF;
}
